Tests/Service References/PartHistoryNewService/PartHistoryNew1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WebServices/PartHistoryNew.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/WebServices/PartHistoryNew.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServices" />
  <xs:element name="StartPartHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPartHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StartPartHistoryResult" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartHistoryStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jobId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartHistoryStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServices" minOccurs="0" name="GetPartHistoryStatusResult" nillable="true" type="q3:GetPartHistoryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>