Tests/Service References/PartHistoryNewService/PartHistoryNew2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WebServices/PartHistoryNew.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetPartHistoryOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="tns:ErrorCode" />
      <xs:element minOccurs="0" name="IsReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnedDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ErrorCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPartHistoryOutput" nillable="true" type="tns:GetPartHistoryOutput" />
  <xs:simpleType name="ErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="SystemError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCode" nillable="true" type="tns:ErrorCode" />
</xs:schema>